  html, body {
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  color : white;
  background: black;
  margin: 0;
}

canvas {
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
}

    h2{
        font-size: 40px;
        font-weight: normal;
        margin: 0px 0px 5px 0px;
    }

    i {
        font-size: 80%;
    }

    h5{
        margin:0px
    }

    button {
        width: 200px;
        min-height: 50px;
        cursor: pointer;
        color: whitesmoke;
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        margin: 0px 20px 20px 0px;
        border: 1px solid whitesmoke;
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.5s;
    }

    button:hover{
        color: #FF76E9;
        border-color: #FF76E9;
    }

    #ui {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }